<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        En esta aplicación web vamos a tener una única lista de mercado, la cual podremos actualizar. <br/>Y además, mantener un control de nuestra dispensa.
    </span>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
